#nome{
    font-family: Shippori Mincho, serif;
}
h1 {
    text-align: center;
}
#info{
    font-family: Arial, Helvetica, monospace;
    position: absolute;
    left:220px;
    bottom:400px;
    margin: 10px;
}

body{background-color: rgb(181,157,164); color: midnightblue;}

strong{font-style: italic;}

#foto{
    width: 200px;
    padding: 5px;
    background-color:orange;
}

ul#carac li:nth-of-type(2n+1){
    color: red;
}